<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello  <%= @user.first_name %> </h1>
    <p>
       Congratulation! Your account is created successfully!
    </p>

    <p> 
    Here are account Details! <br>
    Name : <%= @user.first_name %>  <%= @user.last_name %><br>
    Date Of Birth : <%= @user.date_of_birth %><br>
    Mobile : <%= @user.mobile %><br>
    Email : <%= @user.email%><br>
    </p>

    <p>Thanks and enjoy!</p>
  </body>
</html>


